
body {

    font-family: 'Trebuchet MS';
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    height: 100vh;
    overflow: hidden;
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    background-size: cover;

}

#tab {
    font-size: 20px;
    text-align: center;
    padding-bottom: 60px;

}

#button {
    margin: auto;
    font-size: 20px;
    text-align: center;
    float: center;
}

#D5_On, #D5_Off, #D6_On, #D6_Off, #D7_On, #D7_Off, #D8_On, #D8_Off {
    border-radius: 8px;
    margin-top: 2px;
}

#row {
    position: absolute;
    bottom: 1px;
    width: 100%;
}

#tab_graphs {
    
    margin: auto;
    float: center;
    
    
}
#table_mesures {
    padding-bottom: 100px;
}

h2 {
    padding-bottom: 70px;
}