
body {

    font-family: 'Trebuchet MS';
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    height: 100vh;
    overflow: hidden;
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    background-size: cover;

}

/*h1 {
    font-family: 'Trebuchet MS';
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
}*/

#tab {
    font-size: 20px;
    text-align: center;

}

#button {
    font-size: 20px;
    text-align: center;
    float: center;
}

#D5_On, #D5_Off, #D6_On, #D6_Off, #D7_On, #D7_Off, #D8_On, #D8_Off {
    border-radius: 8px;
    margin-top: 2px;
}

#row {
    position: absolute;
    bottom: 0px;
    width: 100%;
}
#chartTemp, #chartPA, #barTemp{
    width: 100%;
    height: 300px;
}

#gaugePA {
    width: 100%;
    height: 300px;
    margin-left: 25%;
}